@model IEnumerable<WDA_Exam.Entities.Exam>

@{
    ViewData["Title"] = "Exams";
}

<h1>Exams List</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Start time
            </th>
            <th>
                Exam Date
            </th>
            <th>
                Exam Duration
            </th>
            <th>
                Classroom
            </th>
            <th>
                Faculty
            </th>
            <th>
                Status
            </th>            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassRoom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculties.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
